* {
	fontTheme: "normal";
	stroke: automatic;
}

input {
	enterable: false;
	focusable: false;
	contextMenu: "none";
	fill: transparent;
	borderStyle: "none";
}

.title {
	fontSize: 15;
	fontWeight:normal;
}

.message {
	fontSize: 18;
	styledText: true;
	text-align: center;
}

.icon {
	pictureFormat: "proportionalCenter";
}